<h1>Categories</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td>
          <%= link_to 'Edit', admin_edit_category_path(category) %>
          <%= link_to 'Remove', admin_remove_category_path(category), method: :delete, data: { confirm: 'Are you sure you want to remove this category?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
