<h1>Edit Category</h1>
<%= form_with(model: @category, url: admin_update_category_path(@category)) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <%= form.submit 'Update Category' %>
<% end %>
